<div class="collapsible" [class.force-expanded]="forceExpanded()">
  <div class="collapsible-trigger" [class.no-toggle]="forceExpanded()" (click)="toggle()">
    <div class="collapsible-header-content">
      <ng-content select="[collapsible-header]"></ng-content>
    </div>
    @if (!forceExpanded()) {
      <span class="chevron" [class.expanded]="isExpanded()">▾</span>
    }
  </div>
  @if (isExpanded()) {
    <div class="collapsible-body">
      <ng-content select="[collapsible-body]"></ng-content>
    </div>
  }
</div>
