<div class="px-1 pb-1">
  <h2 mat-dialog-title>
    {{ 'GardenDialog.Title' | translate }}
  </h2>

  <mat-dialog-content>
    <form [formGroup]="form" id="createGardenForm" (ngSubmit)="submit()" class="flex flex-col gap-4 pt-2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'GardenDialog.Name' | translate }}</mat-label>
        <input matInput formControlName="name" maxlength="256" />
        @if (form.controls.name.hasError('required') && form.controls.name.touched) {
          <mat-error>{{ 'GardenDialog.NameRequired' | translate }}</mat-error>
        }
        @if (form.controls.name.hasError('maxlength')) {
          <mat-error>{{ 'GardenDialog.NameMax' | translate }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'GardenDialog.Description' | translate }}</mat-label>
        <textarea matInput formControlName="description" rows="4" maxlength="2000"></textarea>
        @if (form.controls.description.hasError('maxlength')) {
          <mat-error>{{ 'GardenDialog.DescMax' | translate }}</mat-error>
        }
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions !pt-2">
    <button class="btn-secondary"
            type="button"
            (click)="cancel()">
      {{ 'GardenDialog.Cancel' | translate }}
    </button>
    <button class="btn-primary !rounded-lg !py-2 !shadow-sm hover:!translate-y-0 hover:!shadow-md !ring-offset-transparent disabled:cursor-not-allowed disabled:opacity-50"
            form="createGardenForm"
            type="submit"
            [disabled]="form.invalid">
      {{ 'GardenDialog.Create' | translate }}
    </button>
  </mat-dialog-actions>
</div>
